extends layout

block customCSS
		link(href='/css/footer.css', rel='stylesheet')

block content
	.navbar.navbar-default.navbar-static-top(role='navigation')
		.container
			.navbar-header
				button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href='/admin') Ibiza
			.navbar-collapse.collapse
				ul.nav.navbar-nav
					li
						a(href='/admin') Home
				ul.nav.navbar-nav
					li
						a(href='/admin/estadisticas') Estadisticas

	.container
		if erasmus.public.ok
			h1.text-success Verificado!
		.row
			h1 Datos
			.col-md-3
				h4 Info
				p 
					strong Nombre
					|	#{erasmus.public.name}
				p 
					strong Apellido
					|	#{erasmus.public.lastname}
				p 
					strong ID
					|	#{erasmus.public.id}
				p 
					strong ESNcard
					|	#{erasmus.public.esncard}
				p 
					strong Telefono
					|	#{erasmus.public.telefono}
				p 
					strong Nacionalidad
					|	#{erasmus.public.nationality}
				p 
					strong Universidad
					|	#{erasmus.public.uni}
				p 
					strong Camiseta
					|	#{erasmus.public.shirt}
				p 
					strong Sexo (mucho)
					|	#{erasmus.public.gender}
				p 
					strong Mailing List
					|	#{erasmus.public.ml}
				form(action='/admin/#{erasmus.email}/Data', method='post')
					.form-group
						label(for='controlData')
						select#id.form-control(type='text', name='ok')
							if erasmus.public.controlData
								option Ok
							else
								option Mal
							option Ok
							option Mal
					button.btn.btn-primary(type='submit') Set Data
			.col-md-4
				h4 ID
				if erasmus.public.fileId
					a(href='/#{erasmus.public.fileId}', target='_blank')
						strong Archivo Id
						br
				else 
					p 
					|	Not Yet!
				form(action='/admin/#{erasmus.email}/Id', method='post')
					.form-group
						label(for='controlCard')
						select#id.form-control(type='text', name='ok')
							if erasmus.public.controlId
								option Ok
							else
								option Mal
							option Ok
							option Mal
						br
						textarea.form-control(type='text', name='msg', placeholder="#{erasmus.public.errorId}")
					button.btn.btn-primary(type='submit') Set Id
			.col-md-4
				h4 ESNcard
				if erasmus.public.fileCard
					a(href='/#{erasmus.public.fileCard}' target='_blank')
						strong Archivo ESNCard
						br
				else 
					p 
					|	Not Yet!
				form(action='/admin/#{erasmus.email}/Card', method='post')
					.form-group
						label(for='controlCard')
						select#esncard.form-control(type='text', name='ok')
							if erasmus.public.controlCard
								option Ok
							else
								option Mal
							option Ok
							option Mal
						br
						textarea.form-control(type='text', name='msg', placeholder="#{erasmus.public.errorCard}")
					button.btn.btn-primary(type='submit') Set Card
		.row
			h1 Docs
			.col-md-4
				h4 Comprobante Pago
				if erasmus.public.filePago
					a(href='/#{erasmus.public.filePago}', target='_blank')
						strong Archivo Pago
						br
				else 
					p 
					|	Not Yet!
				form(action='/admin/#{erasmus.email}/Pago', method='post')
					.form-group
						label(for='controlPago')
						select#esncard.form-control(type='text', name='ok')
							if erasmus.public.controlPago
								option Ok
							else
								option Mal
							option Ok
							option Mal
						br
						textarea.form-control(type='text', name='msg', placeholder="#{erasmus.public.errorPago}")
					button.btn.btn-primary(type='submit') Set Pago
			.col-md-4
				h4 Responsabilidad civil
				if erasmus.public.fileResponsable
					a(href='/#{erasmus.public.fileResponsable}', target='_blank')
						strong Archivo Responsable
						br
				else 
					p 
					|	Not Yet!
				form(action='/admin/#{erasmus.email}/Responsable', method='post')
					.form-group
						label(for='controlResponsable')
						select#esncard.form-control(type='text', name='ok')
							if erasmus.public.controlResponsable
								option Ok
							else
								option Mal
							option Ok
							option Mal
						br
						textarea.form-control(type='text', name='msg', placeholder="#{erasmus.public.errorResponsable}")
					button.btn.btn-primary(type='submit') Set Responsabilidad
			.col-md-4
				h4 Policia
				if erasmus.public.filePolicia
					a(href='/#{erasmus.public.filePolicia}', target='_blank')
						strong Archivo Policia
						br
				else 
					p 
					|	Not Yet!
				form(action='/admin/#{erasmus.email}/Policia', method='post')
					.form-group
						label(for='controlPolicia')
						select#esncard.form-control(type='text', name='ok')
							if erasmus.public.controlPolicia
								option Ok
							else
								option Mal
							option Ok
							option Mal
						br
						textarea.form-control(type='text', name='msg', placeholder="#{erasmus.public.errorPolicia}")
					button.btn.btn-primary(type='submit') Set Policia
		.row
			h1 ¿¿Le dejamos ir al viaje??
			p Una vez este todo OK y todo sean :), le dejamos ir al viaje!
			form.col-md-offset-2(action='/admin/#{erasmus.email}/ok', method='post')
				button.btn.btn-success(type='submit') +1 al viaje!

	include footer